# Code Coverage
coverage

# Fastlane
fastlane/.env
fastlane/README.md
fastlane/report.xml

# Next.js
app/.next

# Now / environment variables
now.json
now.production.json

# NPM
node_modules

# System
.DS_Store
